exercise-2008/src/main/java/thirdstage/exercise/dashboard/meta/component/Component-meta.xsd



<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.3rdstage.org/schema/component-meta" 
	elementFormDefault="qualified">

<xsd:complexType name="componentMetaType">
	<xsd:sequence>
		<xsd:element name="name">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[a-zA-Z][-_:.0-9a-zA-Z]*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
		<xsd:element name="type">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
	</xsd:sequence>


</xsd:complexType>



</xsd:schema>