exercise-2008/src/main/java/thirdstage/exercise/xml/schematron/service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.thirdstage.org/example/ns/service"
	xmlns:service="http://www.thirdstage.org/example/ns/service"
	version='1.0' elementFormDefault="qualified">
 
<xs:element name='service'>
	<xs:complexType>
		<xs:sequence>
			<xs:element name='name' type='service:nameType'></xs:element>		
			<xs:element name='input' type='service:ioType'></xs:element>		
			<xs:element name='output' type='service:ioType'></xs:element>
		</xs:sequence>	
	</xs:complexType>
</xs:element>


</xs:schema>